:root {
  --background-color-secondary: #f5f4fa;
  --background-color-dark: #2f303a;
  --color-white-primary: #ffffff;
  --color-text-primary: #757575;
  --color-text-secondary: #212121;
  --color-accent: #2196f3;
  --color-logo-text: #000000;
  --footer-secondary-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);
  background-color: var(--color-white-primary);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--color-text-primary);
}

.btn {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.hidden {
  position: absolute;
  top: -9999px;
  visibility: hidden;
}

.page-header {
  font-weight: 500;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  color: var(--color-accent);
  line-height: 1.19;
  font-weight: 700;
}

.header-logo > span {
  color: var(--color-logo-text);
}

.container-main {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  gap: 344px;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 93px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-link {
  color: var(--color-text-secondary);
  display: block;
  padding: 32px 0;
}

.header-contacts {
  line-height: 1.14;
}

.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus,
.current {
  color: var(--color-accent);
}

.contacts-list {
  display: flex;
  gap: 50px;
}

.hero {
  background-color: var(--background-color-dark);
  color: var(--color-white-primary);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin: 0;

  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button {
  margin-top: 30px;
  background-color: var(--color-accent);
  min-width: 216px;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
}

.section {
  padding: 94px 0;
}

.features-container {
  display: flex;
  text-align: left;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list > li {
  width: 270px;
}

.features-subtitle {
  margin: 0;
  color: var(--color-text-secondary);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
}

.features-description {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 171%;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-text-secondary);
}

.activities {
  padding-top: 0;
}

.activities-list {
  display: flex;
  gap: 30px;
}

.activities-list > li > img,
.team-list > li > img {
  display: block;
}

.team {
  padding: 94px 0;
  background-color: var(--background-color-secondary);
}

.team-list {
  display: flex;
  gap: 30px;
  text-align: center;
}

.team-list > li {
  background-color: var(--color-white-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text-secondary);
}

.team-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
}

.portfolio-list-btn {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  background-color: var(--background-color-secondary);
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;
  color: var(--color-text-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--color-white-primary);
}

.portfolio-list-projects {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.projects-link > img {
  display: block;
}

.projects-title-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-secondary);
}

.projects-description {
  margin: 0;
  font-size: 16px;
  line-height: 188%;
}

.page-footer {
  padding: 60px 0;
  background-color: var(--background-color-dark);
}

.footer-logo > span {
  color: var(--color-white-primary);
}

.footer-address {
  margin-top: 20px;
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 4.6px;
}

.map-link {
  color: var(--color-white-primary);
  line-height: 171%;
  font-style: normal;
}

.contacts-link {
  color: var(--footer-secondary-color);
  line-height: 171%;
  font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus,
.map-link:hover,
.map-link:focus {
  color: var(--color-accent);
}
